*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero_section{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar_content_container{
    display: flex;
}